<!DOCTYPE html>
<html lang="fr">

<%- include('../partial/head', { name: "Accueil", icon: "favicon" }) %>

<body>

    <h1 class="classTitle">Connecté en tant que : <%= user %></h1>

    <a href="/auth/logout"><button class="classButton">Se déconnecter</button></a>
    
</body>
</html>