<!DOCTYPE html>
<html lang="fr">

<%- include('partial/head', { name: "Accueil", icon: "favicon", }) %>

<body>

    <h1 style="text-align: center; margin-top: 250px;">Formulaire de connexion & d'inscription en TypeScript</h1>

    <div style="margin-left: 33%;">
        <a href="/auth/register"><button>Inscription</button></a>
        <a href="/auth/login"><button>Connexion</button></a>
    </div>
    
</body>
</html>