<!DOCTYPE html>
<html lang="fr">

<%- include('../partial/head', { name: "Erreur 404", icon: "favicon" }) %>

<body>

    <h1 class="classTitle">Cette page est inconnue au bataillon, Chef !</h1>

    <a href="/"><button class="classButton">Revenir à l'accueil</button></a>
    
</body>
</html>